html{background: rgb(225, 245, 245);}
h1{color: #0e0d0d; text-align: center;}
h2{color: #0e0d0d; text-align: left; text-transform: capitalize;}
h3{color: #da2d2d; text-align: left; text-transform: capitalize;}
li{color:rgb(21, 22, 22); text-decoration: solid;}