
__pycache__/art.cpython-310.pyc
__pycache__/hangman_art.cpython-310.pyc
__pycache__/hangman_words.cpython-310.pyc
__pycache__/game_data.cpython-310.pyc
game_data.py
practice.py
art.py
art.py
art1.py
art.py
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/100_days.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
