tenacity==8.5.0
oauthlib==3.2.2
ibm-cos-sdk-core==2.13.6
kubernetes==31.0.0
opentelemetry-instrumentation==0.50b0
Deprecated==1.2.15
lomond==0.3.3
ibm_watson_machine_learning==1.0.367
bcrypt==4.2.1
ibm-cos-sdk-s3transfer==2.13.6
opentelemetry-sdk==1.29.0
opentelemetry-instrumentation-fastapi==0.50b0
wrapt==1.17.2
importlib_resources==6.5.2
requests==2.32.2
opentelemetry-util-http==0.50b0
uvicorn==0.34.0
huggingface==0.0.1
cachetools==5.5.1
websocket-client==1.8.0
build==1.2.2.post1
overrides==7.7.0
watchfiles==1.0.4
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-proto==1.29.0
mmh3==5.0.1
durationpy==0.9
starlette==0.45.2
humanfriendly==10.0
packaging==23.2
ibm-cos-sdk==2.13.6
googleapis-common-protos==1.66.0
opentelemetry-api==1.29.0
fastapi==0.115.7
flatbuffers==25.1.21
httptools==0.6.4
grpcio==1.69.0
rsa==4.9
uvloop==0.21.0
opentelemetry-exporter-otlp-proto-common==1.29.0
coloredlogs==15.0.1
asgiref==3.8.1
google-auth==2.38.0
opentelemetry-instrumentation-asgi==0.50b0
requests-oauthlib==2.0.0
onnxruntime==1.20.1
opentelemetry-semantic-conventions==0.50b0
PyPika==0.48.9
pyproject_hooks==1.2.0
cuproj==24.12.0
nbclient==0.10.2
networkx==3.4.2
langchain-community==0.3.16
typer==0.15.1
zstandard==0.23.0
linkify-it-py==2.0.3
sniffio==1.3.1
langchain-huggingface==0.1.2
Brotli==1.1.0
marisa-trie==1.2.1
mdit-py-plugins==0.4.2
pandas==2.2.3
gradio==5.15.0
rpds-py==0.22.3
aiohappyeyeballs==2.4.4
GitPython==3.1.44
charset-normalizer==3.4.1
python-dateutil==2.9.0.post0
mdurl==0.1.2
tinycss2==1.4.0
distributed==2024.11.2
safetensors==0.4.5
sentence-transformers==3.4.1
pyasn1_modules==0.4.1
nbformat==5.10.4
blis==1.2.0
xarray-spatial==0.4.0
langchain-core==0.3.33
spacy-transformers==1.3.8
rich==13.9.4
mistune==3.1.1
nest_asyncio==1.6.0
anyio==4.8.0
stack_data==0.6.3
docker-pycreds==0.4.0
holoviews==1.20.0
rapids-dask-dependency==24.12.0a0
jiter==0.8.2
webencodings==0.5.1
llama-index-llms-huggingface==0.4.2
MarkupSafe==2.1.3
setproctitle==1.3.4
filelock==3.17.0
llama-index-llms-huggingface-api==0.3.1
shellingham==1.5.4
llama-cloud==0.1.12
lazy_loader==0.4
pypdf==5.2.0
tenacity==9.0.0
llvmlite==0.44.0
tornado==6.4.2
dask==2024.11.2
scikit-learn==1.6.1
backoff==2.2.1
httpx-sse==0.4.0
jupyter_server_terminals==0.5.3
exceptiongroup==1.2.2
jedi==0.19.2
absl-py==2.1.0
python-json-logger==2.0.7
pydantic==2.10.6
aiosignal==1.3.2
cuml==24.12.0
matplotlib==3.10.0
jupyter-lsp==2.2.5
llama-index-cli==0.4.0
xarray==2025.1.2
jupyter_core==5.7.2
cloudpathlib==0.20.0
pyproj==3.7.0
cuda-python==12.6.0
llama-index-question-gen-openai==0.3.0
cymem==2.0.11
hpack==4.1.0
mypy_extensions==1.0.0
llama-cloud-services==0.6.0
importlib_metadata==8.5.0
certifi==2025.1.31
distributed-ucxx==0.41.0
fonttools==4.55.8
xgboost==2.1.2
tensorboard==2.18.0
param==2.2.0
pyogrio==0.10.0
pip==25.0
pydantic-settings==2.7.1
libclang==18.1.1
pylibraft==24.12.0
requests-toolbelt==1.0.0
pexpect==4.9.0
dask-cudf==24.12.0
spacy==3.8.4
PyWavelets==1.8.0
keras==3.8.0
rfc3986-validator==0.1.1
simpervisor==1.0.0
wandb==0.19.6
Send2Trash==1.8.3
sentry-sdk==2.20.0
prometheus_client==0.21.1
weasel==0.4.1
icecream==2.1.4
transformers==4.48.2
en_core_web_sm==3.8.0
jupyter_client==8.6.3
wrapt==1.17.2
torch==2.4.1.post300
Werkzeug==3.1.3
rmm==24.12.1
opt_einsum==3.4.0
pillow==11.1.0
smart-open==7.1.0
importlib_resources==6.5.2
graphviz==0.20.3
babel==2.17.0
tensorboardX==2.6.2.2
optree==0.14.0
semantic-version==2.10.0
tensorflow_estimator==2.15.0
orjson==3.10.15
cucim==24.12.0
threadpoolctl==3.5.0
pyct==0.5.0
pickleshare==0.7.5
namex==0.0.8
lmqg==0.1.1
greenlet==3.1.1
tifffile==2024.12.12
cycler==0.12.1
jupyterlab_server==2.27.3
preshed==3.0.9
dask-cuda==24.12.0
zipp==3.21.0
flatbuffers==25.1.24
yarl==1.18.3
SudachiDict-core==20250129
murmurhash==1.0.12
uc-micro-py==1.0.3
llama-index-embeddings-openai==0.3.1
gast==0.6.0
traitlets==5.14.3
protobuf==5.29.3
h5py==3.12.1
requests==2.32.3
argon2-cffi-bindings==21.2.0
joblib==1.4.2
aiofiles==23.2.1
langchain-text-splitters==0.3.5
uri-template==1.3.0
ptyprocess==0.7.0
ffmpy==0.5.0
regex==2024.11.6
asttokens==3.0.0
cachetools==5.5.1
munkres==1.1.4
matplotlib-inline==0.1.7
websocket-client==1.8.0
polars==1.14.0
bokeh==3.6.3
pydub==0.25.1
ucx-py==0.41.0
pyviz_comms==3.0.4
jupyter_server_proxy==4.4.0
multiprocess==0.70.15
annotated-types==0.7.0
attrs==25.1.0
numba==0.61.0
overrides==7.7.0
jsonschema==4.23.0
argon2-cffi==23.1.0
distro==1.9.0
geopandas==1.0.1
PySocks==1.7.1
tblib==3.0.0
terminado==0.18.1
confection==0.1.5
dash==2.18.2
cupy==13.3.0
custreamz==24.12.0
datasets==2.14.4
astunparse==1.6.3
dirtyjson==1.0.8
ml-dtypes==0.4.0
raft-dask==24.12.0
executing==2.1.0
google-pasta==0.2.0
langsmith==0.2.11
ray==2.42.0
ipython==8.32.0
dask-expr==1.1.19
gradio_client==1.7.0
confluent-kafka==2.5.3
sortedcontainers==2.4.0
chromadb==0.6.3
grpcio==1.62.2
marshmallow==3.26.1
markdown-it-py==3.0.0
llama-index-readers-llama-parse==0.4.0
curated-transformers==0.1.1
striprtf==0.0.26
PyYAML==6.0.2
curated-tokenizers==0.0.9
h2==4.2.0
jupyterlab_pygments==0.3.0
tomlkit==0.13.2
spacy-alignments==0.9.1
jsonschema-specifications==2024.10.1
beautifulsoup4==4.13.3
soupsieve==2.5
branca==0.8.1
fqdn==1.5.1
typing_inspect==0.9.0
pynvml==11.4.1
accelerate==1.3.0
SudachiPy==0.6.10
Markdown==3.6
prompt_toolkit==3.0.50
xyzservices==2025.1.0
spacy-curated-transformers==0.3.0
pyasn1==0.6.1
pytz==2024.1
fsspec==2025.2.0
jupyter-events==0.12.0
wasabi==1.1.3
fastjsonschema==2.21.1
nltk==3.9.1
idna==3.10
typing_utils==0.1.0
contourpy==1.3.1
tqdm==4.67.1
langcodes==3.5.0
nvtx==0.2.10
sentencepiece==0.2.0
folium==0.19.4
pkgutil_resolve_name==1.3.10
pyarrow==17.0.0
bleach==6.2.0
toolz==1.0.0
lz4==4.3.3
zict==3.0.0
comm==0.2.2
tzdata==2025.1
cudf==24.12.0
multidict==6.1.0
referencing==0.36.2
squarify==0.4.3
jsonpointer==3.0.0
jupyter_server==2.15.0
cached-property==1.5.2
packaging==24.2
rfc3339_validator==0.1.4
litellm==1.61.1
cuvs==24.12.0
imagecodecs==2024.9.22
Jinja2==3.1.5
posthog==3.11.0
platformdirs==4.3.6
wcwidth==0.2.13
colorama==0.4.6
mapclassify==2.8.1
spacy-loggers==1.0.5
jsonpatch==1.33
psutil==6.1.1
tiktoken==0.8.0
blinker==1.9.0
parso==0.8.4
gmpy2==2.1.5
openai==1.61.1
imageio==2.37.0
decorator==5.1.1
safehttpx==0.1.6
filetype==1.2.0
llama-index-agent-openai==0.4.5
json5==0.10.0
itsdangerous==2.2.0
catalogue==2.0.10
srsly==2.5.1
pyparsing==3.2.1
nx-cugraph==24.12.0
tensorboard_data_server==0.7.0
notebook_shim==0.2.4
partd==1.4.2
cytoolz==1.0.1
peft==0.14.0
python-dotenv==1.0.1
debugpy==1.8.12
cloudpickle==3.1.1
termcolor==2.5.0
pylibcugraph==24.12.0
narwhals==1.25.2
treelite==4.3.0
langchain==0.3.17
tf_keras==2.18.0
gitdb==4.0.12
sympy==1.13.3
pydantic_core==2.27.2
frozenlist==1.5.0
aiohttp==3.11.12
async-timeout==4.0.3
cudf_kafka==24.12.0
locket==1.0.0
multipledispatch==0.6.0
ruff==0.9.5
webcolors==24.11.1
llama-index==0.12.16
en_core_web_trf==3.8.0
ipykernel==6.29.5
websockets==14.2
Pygments==2.19.1
scikit-image==0.24.0
cffi==1.17.1
graphistry==0.36.0
pyzmq==26.2.1
llama-index-multi-modal-llms-openai==0.4.3
llama-index-readers-file==0.4.4
llama-parse==0.6.0
text-generation==0.7.0
nbconvert==7.16.6
llama-index-program-openai==0.3.1
urllib3==2.3.0
cugraph==24.12.0
pycparser==2.22
pytextrank==3.3.0
llama-index-llms-litellm==0.3.0
numpy==1.26.4
fastrlock==0.8.3
cuspatial==24.12.0
scipy==1.15.1
tomli==2.2.1
tensorflow==2.18.0
jupyterlab==4.3.5
async-lru==2.0.4
mpmath==1.3.0
shapely==2.0.7
h11==0.14.0
isoduration==20.11.0
llama-index-llms-openai==0.3.18
SQLAlchemy==2.0.37
setuptools==75.8.0
arrow==1.3.0
hyperframe==6.1.0
numba-cuda==0.0.17.1
monotonic==1.6
xxhash==3.5.0
palettable==3.3.3
smmap==5.0.2
huggingface-hub==0.28.1
chroma-hnswlib==0.7.6
plotly==6.0.0
six==1.17.0
streamz==0.6.4
wheel==0.45.1
dill==0.3.7
llama-index-indices-managed-llama-cloud==0.6.4
thinc==8.3.4
defusedxml==0.7.1
llama-index-embeddings-huggingface==0.5.1
panel==1.6.0
llama-index-core==0.12.16.post1
httpx==0.28.1
msgpack==1.1.0
cudf-polars==24.12.0
retrying==1.3.3
spacy-legacy==3.0.12
ucxx==0.41.0
dataclasses-json==0.6.7
evaluate==0.4.3
Flask==3.1.0
language_data==1.3.0
bert-score==0.3.13
typing_extensions==4.12.2
pure_eval==0.2.3
types-python-dateutil==2.9.0.20241206
pylibcudf==24.12.0
propcache==0.2.1
datashader==0.17.0
colorcet==3.1.0
pyemd==1.0.0
httpcore==1.0.7
tokenizers==0.21.0
kiwisolver==1.4.8
pandocfilters==1.5.0
python-multipart==0.0.20
cuxfilter==24.12.0
unicodedata2==16.0.0
click==8.1.8
pynvjitlink-cu12==0.5.0
autocommand==2.2.2
more-itertools==10.3.0
backports.tarfile==1.2.0
jaraco.functools==4.0.1
platformdirs==4.2.2
inflect==7.3.1
wheel==0.43.0
jaraco.text==3.12.1
packaging==24.2
importlib_metadata==8.0.0
typeguard==4.3.0
tomli==2.0.1
jaraco.context==5.3.0
zipp==3.19.2
jaraco.collections==5.1.0
typing_extensions==4.12.2
